{% extends "base.html" %}

{% load humanize %}

{% block content %}
<h1>Profit and Loss</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" colspan="1">Account</th>
      <th scope="col" colspan="2">Strategy</th>
      <th scope="col" colspan="7">Grouping</th>
    </tr>
    <tr>
      <th scope="row">AccountId</th>
      <th>Key</th>
      <th>Desc</th>
      <th>Name</th>
      <th>Status</th>
      <th>Realized PnL</th>
      <th>Unrealized PnL</th>
      <th>Total Pnl</th>
      <th>Gross Value</th>
      <th>Net Value</th>
    </tr>
  </thead>
  {% for row in object_list %}
  <tr>
    <td>{{ row.account_id }}</td>
    <td>{{ row.strategy_key }}</td>
    <td>{{ row.strategy_description }}</td>
    <td>
      {% if row.grouping_id %}
        <a href="{% url 'portfolios:grouping-detail' row.grouping_id %}">{{ row.grouping_name }}</a>
      {% endif %}
    </td>
    <td>{{ row.grouping_status }}</td>
    <td>{{ row.realized_pnl |floatformat:2|intcomma }}</td>
    <td>{{ row.unrealized_pnl |floatformat:2|intcomma }}</td>
    <td>{{ row.total_pnl |floatformat:2|intcomma}}</td>
    <td>{{ row.gross_position_value |floatformat:2|intcomma}}</td>
    <td>{{ row.net_position_value |floatformat:2|intcomma}}</td>
  </tr>
  {% endfor %}
</table>


{%endblock %}
