{% extends "base.html" %}

{% block content %}
<h1>Pnl</h2>

<table class="table">
  <tr>
    <th>AccountId</th>
    <th>Strat Key</th>
    <th>Strat Desc</th>
    <th>G Name</th>
    <th>G Status</th>
    <th>G Realized PnL</th>
    <th>G Unrealized PnL</th>
    <th>G Position Value</th>
  </tr>

  {% for row in object_list %}
  <tr>
    <td>{{ row.account_id }}</td>
    <td>{{ row.strategy_key }}</td>
    <td>{{ row.strategy_description }}</td>
    <td><a href="{% url 'portfolios:grouping-detail' row.grouping_id %}">{{ row.grouping_name }}</a></td>
    <td>{{ row.grouping_status }}</td>
    <td>{{ row.realized_pnl }}</td>
    <td>{{ row.unrealized_pnl }}</td>
    <td>{{ row.position_value }}</td>
  </tr>
  {% endfor %}
</table>


{%endblock %}
