{% extends "base.html" %}

{% load trade_extras %}

{% block content %}

<h1>Trades</h1>

<div class="row">
  <div class="col-md-12">
    <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
    </form>
  </div>
</div>

<table class="table">
  <tr>
    <th></th>

    <th>Account Id</th>
    <th>Description</th>
    <th>Grouping Name</th>
    <th>Datetime</th>
    <th>Quantity</th>
    <th>O/C</th>
    <th>Fifo PnL Realized</th>
  </tr>

  {% for trade in object_list %}
  <tr>
    <td><a href="{% url 'portfolios:trade-update' trade.trade_id  %}">Detail</a></td>

    <td>{{ trade.account_id }}</td>
    <td>{{ trade.description }}</td>
    <td>{{ trade.groupings | render_grouping_names }}</td>
    <td>{{ trade.date_time }}</td>
    <td>{{ trade.quantity }}</td>
    <td>{{ trade.open_close_indicator }}</td>
    <td>{{ trade.fifo_pnl_realized }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
