{% extends "base.html" %}

{% load generic %}
{% load trade_extras %}

{% block content %}

  <h1>Trade {{ object.trade_id }}</h1>

  <p>
    <ul>
      <li>Account Id: {{ object.account_id }}</li>
      <li>Description: {{ object.description }}</li>
      <li>Open/Close: {{ object.open_close_indicator }}</li>
    </ul>
  </p>

  <p>
    <form method="post">{% csrf_token %}
      {% csrf_token %}
      {% comment %} manually render form so we can edit the CSS and UX  {% endcomment %}
      {{ form.non_field_errors }}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}

      <div class="form-group">
        <label>Trade Group</label>
        <br/>
        {{ form.groupings.errors }}
        {{ form.groupings }}
        {{ form.groupings.help_text }}
      </div>

      <br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </p>

{% endblock %}
