{% extends "base.html" %}

{% load generic %}
{% load trade_extras %}

{% block content %}

<h1>Trades</h1>

<!--Filter/Search Form-->
<div class="row">
  <div class="col-md-12">
    <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
    </form>
  </div>
</div>

<!--Pagination-->
<div class="container p-4">
  <div class="justify-content-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{% param_replace page=1 %}">First</a>
        </li>
        {% if page_obj.previous_page_number != 1 %}
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
          </li>
        {% endif %}
      {% endif %}

      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
      </li>

      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != paginator.num_pages %}
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
          </li>
        {% endif %}
          <li class="page-item">
            <a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Last</a>
          </li>
      {% endif %}
    </ul>
  </div>
</div>

<table class="table">
  <tr>
    <th></th>
    <th>Datetime</th>
    <th>Account Id</th>
    <th>Description</th>
    <th>Grouping Name</th>
    <th>Quantity</th>
    <th>O/C</th>
    <th>Fifo PnL Realized</th>
    <th>Grouped Trades</th>
  </tr>


  <form action="/portfolios/trades/multiple-update" method="get">
    <input type="integer" name="your_name" value=123>
    <input type="submit" value="OK">
  </form>


  {% regroup object_list by date_time as objects_list_by_date %}

  {% for date_time, trades in objects_list_by_date %}
    {% for trade in trades %}
      <tr>
        <td><a href="{% url 'portfolios:trade-update' trade.trade_id %}">Details</a></td>
        <td>{{ trade.date_time }}</td>
        <td>{{ trade.account_id }}</td>
        <td>{{ trade.description }}</td>
        <td>{{ trade.groupings | render_grouping_names }}</td>
        <td>{{ trade.quantity }}</td>
        <td>{{ trade.open_close_indicator }}</td>
        <td>{{ trade.fifo_pnl_realized }}</td>
        <td>
          {% if trades|length > 1 %}
            {{ trades|length }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </div>
  {% endfor %}
</table>

{% endblock %}
