{% extends "base.html" %}


{% load humanize %}
{% load trade_extras %}

{% block content %}

<h1>Grouping {{object.name}} </h1>
<p>Strategy: {{object.strategy.key}}/{{object.strategy.description}}</p>

<br/>

<h3>Positions</h3>
<table class="table">
  <tr>
    <th>Conid</th>
    <th>Description</th>
    <th>Position</th>
    <th>PnL Unrealized</th>
    <th>Mark Price</th>
  </tr>

  {% for position in position_list %}
  <tr>
    <td>{{ position.conid }}</td>
    <td>{{ position.description }}</td>
    <td>{{ position.position }}</td>
    <td>{{ position.fifo_pnl_unrealized }}</td>
    <td>{{ position.mark_price }}</td>
  </tr>
  {% endfor %}
</table>

<br/>
<br/>

<h3>Trades</h3>
<table class="table">
  <tr>
    <th></th> {% comment %} detail {% endcomment %}

    <th>Description</th>
    <th>Datetime</th>
    <th>Realized PnL</th>
    <th>Realized PnL Cumulative</th>
    <th>O/C</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

  {% for trade in trade_list %}
  <tr>
    <td><a href="{% url 'portfolios:trade-update' trade.trade_id  %}">Detail</a></td>

    <td>{{ trade.description }}</td>
    <td>{{ trade.date_time }}</td>
    <td>{{ trade.fifo_pnl_realized|floatformat:2|intcomma }}</td>
    <td>{{ trade.fifo_pnl_realized_cumsum|floatformat:2|intcomma }}</td>
    <td>{{ trade.open_close_indicator }}</td>
    <td>{{ trade.quantity }}</td>
    <td>{{ trade.trade_price }}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
